<div class="d-none">
	<div id="printform">
		<div class="text-center">
			<img src="{{"img/hk-logo.jpg" | absURL}}" class="img-fluid" width="300">
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Contact Number
					</th>
					<th>
						Email ID
					</th>
					<th>
						Age
					</th>
					<th>
						Education
					</th>
					<th>
						Smartphone
					</th>
					<th>
						Heard about HK before?
					</th>
					<th>
						Do you exercise?
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Apoorv Ailawadi</td>
					<td>9654161626</td>
					<td class="break">apoorv.ailawadi@gmail.com</td>
					<td>30</td>
					<td>PG</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Not Often</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-4">
				<table class="table table-bordered">
					<tr>
						<th scope="row">Gender</th>
						<td>Male</td>
					</tr>
					<tr>
						<th scope="row">Height</th>
						<td>5'11"</td>
					</tr>
					<tr>
						<th scope="row">Body Weight</th>
						<td>83</td>
					</tr>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2" class="text-center">BMR/BMI</th>
						</tr>
					</thead>
					<tr>
						<th scope="row">Body Fat</th>
						<td>23</td>
					</tr>
					<tr>
						<th scope="row">Visceral Fat</th>
						<td>17</td>
					</tr>
					<tr>
						<th scope="row">Resting Metabolism</th>
						<td>67</td>
					</tr>
					<tr>
						<th scope="row">Body Mass Index</th>
						<td>78</td>
					</tr>
					<tr>
						<th scope="row">Body Age</th>
						<td>32</td>
					</tr>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2" class="text-center">Bone Density</th>
						</tr>
					</thead>
					<tr>
						<th scope="row">Range</th>
						<td>-0.2</td>
					</tr>
					<tr>
						<th scope="row">Case</th>
						<td>OS</td>
					</tr>
				</table>
			</div>
			<div class="col-8">
				<img src="{{"img/ref-chart.png" | absURL}}" class="img-fluid">
			</div>
		</div>
	</div>
</div>