<div class="card step step1 p-2 {{ $.Params.step3_status }}" id="step3">
	<div class="card-body">
		<h3 class="mb-5 font-weight-bold">Health Data</h3>

		<h5 class="text-primary font-weight-bold">Health History</h5>
		<div class="card bg-light mb-2">
			<div class="card-body p-3">
				<div class="row">
					<div class="col-md-8">
						<div class="">
						    Are you diabetic?
						</div>
					</div>
					<div class="col-md-4 text-right">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="diabyes" name="diabetic" class="custom-control-input" checked="">
							<label class="custom-control-label" for="diabyes">Yes</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="diabno" name="diabetic" class="custom-control-input">
							<label class="custom-control-label" for="diabno">No</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body p-3">
				<div class="row">
					<div class="col-md-8">
						<div class="">
						    Do you have BP problem?
						</div>
					</div>
					<div class="col-md-4 text-right">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="bpyes" name="BP" class="custom-control-input" checked="">
							<label class="custom-control-label" for="bpyes">High</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="bpno" name="BP" class="custom-control-input">
							<label class="custom-control-label" for="bpno">Low</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body p-3">
				<div class="row">
					<div class="col-md-8">
						<div class="">
						    Do you have any heart issue?
						</div>
					</div>
					<div class="col-md-4 text-right">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="heartyes" name="heart" class="custom-control-input" checked="">
							<label class="custom-control-label" for="heartyes">Yes</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="heartno" name="heart" class="custom-control-input">
							<label class="custom-control-label" for="heartno">No</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body p-3">
				<div class="row">
					<div class="col-md-8">
						<div class="">
						    Do you exercise?
						</div>
					</div>
					<div class="col-md-4 text-right">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="exerciseyes" name="exercise" class="custom-control-input" checked="">
							<label class="custom-control-label" for="exerciseyes">Yes</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="exerciseno" name="exercise" class="custom-control-input">
							<label class="custom-control-label" for="exerciseno">No</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h5 class="text-primary font-weight-bold mt-5">Body Fitness Check</h5>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    Body Fat
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex flex-md-nowrap flex-wrap">
							<input type="text" class="form-control form-control-lg " id="" placeholder="Results">
							<div class="hk-custom-select flex-fill w-100 ml-md-2 mt-1 mt-md-0">
								<select class="form-control form-control-lg">
									<option>Classification</option>
									<option>Classification 1</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    BMI
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex flex-md-nowrap flex-wrap">
							<input type="text" class="form-control form-control-lg " id="" placeholder="Results">
							<div class="hk-custom-select flex-fill w-100 ml-md-2 mt-1 mt-md-0">
								<select class="form-control form-control-lg">
									<option>Classification</option>
									<option>Classification 1</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    Visceral Fat
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex flex-md-nowrap flex-wrap">
							<input type="text" class="form-control form-control-lg " id="" placeholder="Results">
							<div class="hk-custom-select flex-fill w-100 ml-md-2 mt-1 mt-md-0">
								<select class="form-control form-control-lg">
									<option>Classification</option>
									<option>Classification 1</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    Skeletal Muscle
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex flex-md-nowrap flex-wrap">
							<input type="text" class="form-control form-control-lg " id="" placeholder="Results">
							<div class="hk-custom-select flex-fill w-100 ml-md-2 mt-1 mt-md-0">
								<select class="form-control form-control-lg">
									<option>Classification</option>
									<option>Classification 1</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    Resting Metabolism
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex">
							<input type="text" class="form-control form-control-lg w-50" id="" placeholder="Results">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-light mb-2">
			<div class="card-body px-3 py-2">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="">
						    Body Age
						</div>
					</div>
					<div class="col-md-8 text-right">
						<div class="d-flex">
							<input type="text" class="form-control form-control-lg w-50" id="" placeholder="Results">
						</div>
					</div>
				</div>
			</div>
		</div>

		<h5 class="text-primary font-weight-bold mt-5">Vitamins & Minerals Check</h5>
		<div class="row">
			<div class="col-sm-6 pr-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Biotin
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 pl-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Biotin
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 pr-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Vit C
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 pl-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Vit C
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 pr-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Biotin
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 pl-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Biotin
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 pr-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Vit C
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 pl-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body px-3 py-2">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="">
								    Vit C
								</div>
							</div>
							<div class="col-md-8 text-right">
								<div class="hk-custom-select flex-fill w-100 ml-md-2">
									<select class="form-control form-control-lg">
										<option>Classification</option>
										<option>Classification 1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h5 class="text-primary font-weight-bold mt-5">Bone Density Check</h5>
		<div class="row">
			<div class="col-sm-4 pr-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body p-3 ">
						<div class="custom-control custom-radio">
						  <input type="radio" id="normal" name="minerals" class="custom-control-input">
						  <label class="custom-control-label" for="normal">Normal</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 px-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body p-3 ">
						<div class="custom-control custom-radio">
						  <input type="radio" id="osteopenia" name="minerals" class="custom-control-input">
						  <label class="custom-control-label" for="osteopenia">Osteopenia</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 pl-md-1">
				<div class="card bg-light mb-2">
					<div class="card-body p-3 ">
						<div class="custom-control custom-radio">
						  <input type="radio" id="osteoporosis" name="minerals" class="custom-control-input">
						  <label class="custom-control-label" for="osteoporosis">Osteoporosis</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-between align-items-center mt-4">
			<a href="#" class="text-dark"><i class="fas fa-long-arrow-alt-left"></i> Back to Previous Step</a>
			<button class="btn btn-primary btn-lg text-uppercase" disabled="" data-toggle="modal" data-target="#confirmModal">Save</button>
		</div>
	</div>
</div>

<div class="modal fade confirmModal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content text-center">
			<div class="modal-header border-0 pb-0 pt-2">
				<button type="button" class="close font-weight-light" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0">
				<img src="{{"img/quote-imp.png" | absURL}}" class="center-block">
				<h5 class="mb-0 modal-title mt-2">Are you sure want to save the <br>information?</h5>
			</div>
			<div class="modal-footer justify-content-center border-0">
				<button type="button" class="btn btn-cancel btn-lg text-uppercase" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary btn-lg text-uppercase">Save</button>
			</div>
		</div>
	</div>
</div>