<div class="hk-step-wrapper sticky-top">
	<div class="container">
		<ul class="d-flex align-items-center justify-content-md-between hk-steps">
			<li class="d-flex flex-wrap justify-content-center align-items-center {{ $.Params.nav1_status }}">
				<i class="fas fa-check-circle"></i> Mobile Details
			</li>
			<li class="d-flex flex-wrap justify-content-center align-items-center {{ $.Params.nav2_status }}">
				<i class="fas fa-check-circle"></i> Personal Information
			</li>
			<li class="d-flex flex-wrap justify-content-center align-items-center {{ $.Params.nav3_status }}">
				<i class="fas fa-check-circle"></i> Health Data
			</li>
		</ul>
	</div>
	<!-- Returning user -->
	<div class="alert alert-primary alert-dismissible fade show text-center return-message border-0" role="alert">
		<h5 class="font-weight-light mb-0 text-uppercase text-white d-flex d-md-block flex-column"><i class="fas fa-exclamation-circle align-text-bottom mb-2 mb-md-0"></i> <span>Returning user. Data last updated on <strong class="font-weight-bold">30th June 2018</strong></span></h5>
		<button type="button" class="close font-weight-light" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>