.hk-banner{
	background-image: url(../img/hk-banner-bg.jpg);
	background-size: cover;
	background-position: 50% 40%;
	// background-attachment: fixed;
	padding: 12rem 2rem;
	position: relative;
	z-index: 1;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.25);
	}
	@media(max-width: 767px){
		padding: 5rem 1rem;
		h1{
			font-size: 1.525rem;
		}
	}
	@media(max-width: 480px){
		padding: 3rem 1rem;
	}
}
