body{
	// background-color: lighten(theme-color("primary"), 58%);
	// background-color: #D5E9EB;
	background: linear-gradient(to right, #c5dce2 0%, #cce1e8 51%, #c5dce2 100%);
}

.bg-wrapper{
	background-image: url(../img/bg-hk.jpg);
	background-size: 120%;
	background-position: right 60px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	// &:before{
	// 	content: '';
	// 	background-image: url(../img/bg-hk.jpg);
	// 	background-size: 100%;
	// 	background-position: right 120px;
	// 	background-repeat: no-repeat;
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }

	@media(max-width: 767px){
		background-position: right 40px;
		background-size: 200%;
	}
}