.hk-step-wrapper{
	padding: 20px;
	background-color: $gray-100;

	.hk-steps{
		margin: 0 auto;
		padding: 0;
		max-width: 700px;
		li{
			list-style-type: none;
			// margin: 0 30px;
			font-size: 16px;
			color: $gray-500;
			font-weight: bold;
			i{
				font-size: 20px;
				margin-right: 10px;
				color: $gray-300;
			}
			&.active{
				color: $gray-700;
			}
			&.done{
				color: $gray-700;
				i{
					color: theme-color("primary");
				}
			}
		}

	}
}

@media(max-width: 767px){
	.hk-step-wrapper{
		padding: 20px 5px;
		.hk-steps{
			li{
				text-align: center;
				font-size: 13px;
				line-height: 16px;
				i{
					width: 100%;
					margin-right: 0;
					margin-bottom: 5px;
				}
			}
		}
	}
}