$theme-colors: (
  "primary": rgb(0, 191, 191),
  "secondary": #FF8500
);

$line-height-sm: 1.6;
$font-size-base: .88rem;
$small-font-size: 85%;
$line-height-lg: 2;
$border-radius-lg: .2rem;

$container-max-widths: (
  xl: 1200px
)