.card{
	&.step{
		// padding: 2em;
		margin-bottom: 100px;
		transition: all 0.3s ease;
		&.current{
			box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
		}
		&.disabled{
			pointer-events: none;
			opacity: 0.5;
			background-color: $gray-200;
		}
		&:before, &:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
		}
		&:before{
			border-right: 2px dashed $gray-500;
			bottom: -80px;
			height: 60px;
			width: 2px;
		}
		&:after{
			bottom: -55px;
			height: 15px;
			width: 15px;
			background-color: theme-color("primary");
			border-radius: 50%;
		}
		&:last-child{
			margin-bottom: 0;
			&:before, &:after{
				display: none;
			}
		}
	}
}