.hk-step-wrapper{
	padding: 20px;
	background-color: $gray-100;

	.hk-steps{
		margin: 0 auto;
		padding: 0;
		max-width: 700px;
		li{
			list-style-type: none;
			// margin: 0 30px;
			font-size: 16px;
			color: $gray-500;
			font-weight: bold;
			i{
				font-size: 20px;
				margin-right: 10px;
				color: $gray-300;
			}
			&.active{
				color: $gray-700;
			}
			&.done{
				color: $gray-700;
				i{
					color: theme-color("primary");
				}
			}
		}

	}
}

// Returning user alert
.return-message{
	margin: 20px -20px -20px;
    padding: 18px;
    background-color: theme-color("primary");
    border-radius: 0;
    .fas{
    	font-size: 1.3em;
    }
    .close{
    	opacity: 1;
	    font-size: 2.5em;
	    color: rgba(255, 255, 255, 0.94);
	    text-shadow: none;
	    &:focus{
    		outline: 0;
    	}
    }
    @media screen and (max-width: 600px){
    	margin: 20px -5px -20px;
    	padding: 15px 8px;
    	h5{
    		font-size: 0.9em;
    		line-height: 1.5;	
    	}
    	.close{
    		font-size: 1.6em;
    	}
    }
}



// Confirm modal

.confirmModal{
	.modal-title{
      	color: $gray-600;
    	line-height: 1.5;
	}
	.modal-footer{
		.btn{
			min-width: 150px;
			font-size: 1em;
    		color: rgba(255, 255, 255, 0.89);
    		&:first-child{
    			margin-right: 1em;
    		}
    		@media screen and (max-width: 320px){
    			min-width: 100px;
    		}
		}
	}
	.close{
		opacity: 1;
    	font-size: 2.3em;
    	color: $gray-500;
    	&:focus{
    		outline: 0;
    	}
	}
	.success-data{
		.check-circle{
			list-style: none;
			li{
				margin-right: 3em;
				background-color: #fff;
				position: relative;
				&:last-child{
					margin-right: 0;
				}
			}
			.fas{
				font-size: 1.5em;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 45%;
				width: 100%;
				height: 2px;
				background-color: theme-color("primary");
			}
		}
		.info-title{
			font-size: 1.15em;
			color: $gray-600;
		}
		.new-form-title{
			font-size: 1.3em;
		}
	}
}



@media(max-width: 767px){
	.hk-step-wrapper{
		padding: 20px 5px;
		.hk-steps{
			li{
				text-align: center;
				font-size: 13px;
				line-height: 16px;
				i{
					width: 100%;
					margin-right: 0;
					margin-bottom: 5px;
				}
			}
		}
	}
}